/cliente/node_modules
/cliente/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/public_html/*
!/public_html/sistema/
/*/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-online
.data/*
!.data/.dummy
.caddy/*
!.caddy/.dummy
.ftp/*
!.ftp/.dummy
.phpmyadmin/*
!.phpmyadmin/.dummy
*/.vscode
*.log
*/package-lock.json
*/yarn.lock
composer.lock
/public/hon_client.rar
/public/public_docs/*request.json
/public/c.zip

.DS_Store
*/.DS_Store
*/*/.DS_Store